/* Main css */


/* - Specific - */
@font-face {
    font-family: 'Fat Cow';
    src: url("../fonts/fatcow.regular.otf") format("opentype");
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* - Page - */
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background: rgba(10, 10, 10, 1);
    height: 100%;
}

nav {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white!important;

    position: absolute;
    transition: all ease .5s;
    /*text-transform: uppercase;*/
}
#nav.shrink {
  transition: all ease .5s;
  background: rgba(10, 10, 10, 1);

}


#nav.shrink #logo {
  transition: all ease .5s;
}


/* - Custom css - */

#fLogo{
    font-family: Fat Cow;
    font-size: 30px!important;
    letter-spacing: 3px;
}
#iLogo{
    margin-bottom: 6.5%;
}

.dropdown-item:hover{
    background: -webkit-linear-gradient(left, #ffa800, red, purple, rgba(0,0,0,0))!important;
    color: #ffffff;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
.nav-item:hover{
    background: -webkit-linear-gradient(left, #ffa800, red, purple, rgba(0,0,0,0))!important;
    color: #ffffff;
    border-radius: 5px;
}

.container{

    padding-top: 2%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
}

.dam-car{
    font-family: 'Major Mono Display', monospace;
    font-weight: 300;
    text-shadow: 4px 4px 4px #aaa;
}

.card{
    border: 0px!important;
}
.card-deck{
    color: #ffffff;
    padding-top: 2%;
    /*border-style: outset;
    border-width: 1px solid;
    border-color: purple red  #ffa800;*/
    background-image: linear-gradient(to bottom right, purple, red, #ffa800);
    border-radius: 20px;
}

.half-rule { 
    margin-left: 0;
    text-align: left;
    width: 50%;
 }

  
.parallax {
    /* The image used */
    background-image: url("../img/daniel-olahh.jpg");
    
  

  /* Full height */
  height: 30%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*.dam-btn {


}


.dam-search{
    background-color: rgba(20, 20, 20, 0)!important;
    color: rgb(255, 255, 255)!important;
    border-color: rgb(255, 255, 255)!important;


}


.dam-search:focus{
    background-color: rgba(50, 50, 50, .5)!important;
    /*border-color: #1DB954!important;
    box-shadow: 0px 1px 8px rgba(255, 168, 0, 0.5) inset, 0px 0px 10px rgba(255, 0, 60, 0.5);
}*/

/* - Footer section - */
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: rgba(10, 10, 10, 1) !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

hr {
  height: 4px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 4%;
  margin-top: 4%;
}
.hr-primary{
  background-image: -webkit-linear-gradient(left, #ffa800, red, purple, rgba(0,0,0,0));
}


